openai
python-dotenv
streamlit
openai-whisper
git+https://github.com/openai/whisper.git 
ffmpeg
python-dotenv
langdetect
numpy
av
pydub
wave
soundfile
sounddevice
numpy
ffmpeg-python
python-ffmpeg
#openai-whisper
#git+https://github.com/openai/whisper.git 
scipy
#pygame
subprocess
